body {
  width: 100%;
  max-width: 500px;
  font-size:1.25em;
  color: red;
  background-color: white;
  margin: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


img {
  width: 100%;
  max-width: 500px;

}
