body {
  display: block;
  max-width: 500px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
div {
  display: block;
  height: auto;
}

img {
  width: 100%;
}
